{% extends './auth.html' %}

{% block auth %}
    <form method="post">
        {% csrf_token %}
        <legend class="text-center">Вход</legend>
        <div class="mb-3">
          <label for="username" class="form-label">Логин:</label>
          <input id="username" name="username" type="text" id="disabledTextInput" class="form-control" placeholder="Логин">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Пароль:</label>
          <input id="password" name="password" type="password" id="disabledTextInput" class="form-control" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
{% endblock %}